<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    <title>Melding lijst</title>
</head>

<body>
    <div class='card card-body bg-light'>
        <h1>Melding lijst</h1>
        <br /><br />
        <table class='table'>
            <tr>
                <th>melder</th>
                <th>PNummer</th>
                <th>datum</th>
                <th>type</th>
                <th>locatie</th>
                <th>beschrijving</th>
                <th>locatiebeschr</th>
                <!-- <th>photos</th> -->
            </tr>
            <tr th:each='melding: ${meldingen}'>
                <td th:text='${melding.melder}' />
                <td th:text='${melding.PNummer}' />
                <td th:text='${melding.datum}' />
                <td th:text='${melding.type}' />
                <td th:text='${melding.locatie}' />
                <td th:text='${melding.beschrijving}' />
                <td th:text='${melding.locatiebeschr}' />


                <!-- <td th:each="image : ${melding.image}"> -->
                <!-- <img width="150" height="150" th:src="*{'data:image/png;base64,'+ base64EncodedImage}" /> -->
                <!-- <img th:src="|data:image/png;base64,${image[i]}|" /> -->
                <!-- <img width="150" height="150" th:src="${image}" /> -->
                <!-- <img width="150" height="150" src="data:image/jpg;base64" th:src="${image}" /> -->

                <!-- <td th:each="image : ${images}">
                    <img width="150" height="150" src="data:image/jpg;base64" th:src="${image}" /> 
                </td> -->
            </tr>

        </table>
    </div>

</body>

</html>