<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    <title>Melding lijst</title>
</head>

<body>
    <div class='card card-body bg-light'>
        <h1>Melding lijst</h1>
        <br /><br />
        <table class='table'>
            <tr>
                <th>melder</th>
                <th>PNummer</th>
                <th>datum</th>
                <th>type</th>
                <th>locatie</th>
                <th>beschrijving</th>
                <th>locatiebeschr</th>
                <!-- <th>photos</th> -->
            </tr>
            <tr th:each='report: ${meldingen}'>
                <td th:text="${report.reporter}" />
                <td th:text="${report.PNumber}" />
                <td th:text="${report.date}" />
                <td th:text='${report.type}' />
                <td th:text="${report.location}" />
                <td th:text="${report.description}" />
                <td th:text="${report.locationDescription}" />


                <!-- <td th:each="image : ${report.image}"> -->
                <!-- <img width="150" height="150" th:src="*{'data:image/png;base64,'+ base64EncodedImage}" /> -->
                <!-- <img th:src="|data:image/png;base64,${image[i]}|" /> -->
                <!-- <img width="150" height="150" th:src="${image}" /> -->
                <!-- <img width="150" height="150" src="data:image/jpg;base64" th:src="${image}" /> -->

                <!-- <td th:each="image : ${images}">
                    <img width="150" height="150" src="data:image/jpg;base64" th:src="${image}" /> 
                </td> -->
            </tr>

        </table>
    </div>

</body>

</html>