<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    <title>melding Detail</title>
</head>

<body>
    <div class='card card-body bg-light'>
        <h1>
            <p th:text="${melding?.melder} + ' ' + ${melding?.datum} + ' ' + ${melding?.type} + ' ' +
                ${melding?.locatie} + ' ' +${melding?.beschrijving} + ' ' + ${melding?.locatiebeschr}" />
        </h1>

    </div>
    &nbsp;&nbsp;<a href='/melding'>melding maken</a>

</body>

</html>