<!DOCTYPE HTML>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>

    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script type='text/javascript' src='/src/main/resources/static/js/app.js'></script>

    <title>maak een melding</title>
</head>

<body>
    <div class="card card-body bg-light">
        <h1>maak een melding</h1>
        <br />
        <div class="d-flex justify-content-center">
            <form th:action='@{/melding}' method='POST' enctype="multipart/form-data">

                <div class='form-group row'>
                    <div class='col-xs-4'>
                        <label for='melder'>melder : </label>
                        <input type='text' class='form-control' name='melder' id='melder'>
                    </div>
                </div>
                <div class='form-group row'>
                    <div class='col-xs-4'>
                        <label for='PNummer'>PNummer : </label>
                        <input type='text' class='form-control' name='PNummer' id='PNummer'>
                    </div>
                </div>
                <div class='form-group row'>
                    <div class='col-xs-4'>
                        <label for='datum'>datum : </label>
                        <input type='text' class='form-control' name='datum' id='datum'>
                    </div>
                </div>
                <div class='form-group row'>
                    <div class='col-xs-4'>
                        <label for='type'>type : </label>
                        <input type='text' class='form-control' name='type' id='type'>
                    </div>
                </div>
                <div class='form-group row'>
                    <div class='col-xs-4'>
                        <label for='locatie'>locatie : </label>
                        <input type='text' class='form-control' name='locatie' id='locatie'>
                    </div>
                </div>
                <div class='form-group row'>
                    <div class='col-xs-4'>
                        <label for='beschrijving'>beschrijving : </label>
                        <input type='text' class='form-control' name='beschrijving' id='beschrijving'>
                    </div>
                </div>
                <div class='form-group row'>
                    <div class='col-xs-4'>
                        <label for='locatiebeschr'>locatiebeschr : </label>
                        <input type='text' class='form-control' name='locatiebeschr' id='locatiebeschr'>
                    </div>
                </div>
                <!-- <div class='form-group row'>
                    <div class='col-xs-4'>
                        <label for='image'>Image : </label>
                        <input type="file" class='form-control' name='image' id='image' accept="image/*" multiple="multiple" />
                    </div>
                </div> -->


                <input type='SUBMIT' value='Save'>
            </form>
        </div>
    </div>
    &nbsp;&nbsp;<a href='/lijst'>List all meldingen</a>

</body>

</html>