<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>

    <title>Melding lijst</title>
</head>

<body>
    <h1>View melding</h1>
    <br />

    <table class='table'>

        <tr>
            <th>melder</th>
            <th>PNummer</th>

            <th>photos</th>
        </tr>
        <tr th:each='melding: ${meldingen}'>
            <td th:text='${melding.melder}' />
            <td th:text='${melding.PNummer}' />
            <td>
                <img alt="sample" th:src="*{'data:image/png;base64,'+melding.image}" width="200" />
            </td>
        </tr>
        <br /> <br />
        <a href="/">Back to home page</a>
</body>

</html>